<a href="https://colab.research.google.com/github/vvilliscool/ML_LIB_Class_Goorm/blob/master/goorm_20220721_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from pandas import Series, DataFrame

In [ ]:
dat = { 'col1':[1,2,3,4],
        'col2':[10,20,30,40],
        'col3':['A', 'B', 'C', 'D'] }
    
df = DataFrame(dat)
df

   col1  col2 col3
0     1    10    A
1     2    20    B
2     3    30    C
3     4    40    D

In [ ]:
from pandas import DataFrame

team_score = { "toto":[1500,3000,5000,7000,5500],
               "apple":[4000,5000,6000,5500,4500],
               "gildong":[2000,2500,3000,4000,3000],
               "catanddog":[7000,5000,3000,5000,4000]}

team_df = DataFrame(team_score)
team_df

   toto  apple  gildong  catanddog
0  1500   4000     2000       7000
1  3000   5000     2500       5000
2  5000   6000     3000       3000
3  7000   5500     4000       5000
4  5500   4500     3000       4000

In [ ]:
date = ['22-05-01','22-05-02', '22-05-03', '22-05-04', '22-05-05']
team_df = DataFrame(team_score,
                   columns=['catanddog', 'toto', 'apple', 'gildong'],
                   index=date)
team_df

          catanddog  toto  apple  gildong
22-05-01       7000  1500   4000     2000
22-05-02       5000  3000   5000     2500
22-05-03       3000  5000   6000     3000
22-05-04       5000  7000   5500     4000
22-05-05       4000  5500   4500     3000

In [ ]:
team_df.loc[  '22-05-02':'22-05-03'  ,  'toto':'apple'   ]

          toto  apple
22-05-02  3000   5000
22-05-03  5000   6000

In [ ]:
team_df.loc[  '22-05-03':'22-05-05'  ,  'gildong'   ]

22-05-03    3000
22-05-04    4000
22-05-05    3000
Name: gildong, dtype: int64

In [ ]:
team_df.iloc[2:,-1]

22-05-03    3000
22-05-04    4000
22-05-05    3000
Name: gildong, dtype: int64

In [ ]:
team_df.iloc[-1,-1]=7000
team_df

          catanddog  toto  apple  gildong
22-05-01       7000  1500   4000     2000
22-05-02       5000  3000   5000     2500
22-05-03       3000  5000   6000     3000
22-05-04       5000  7000   5500     4000
22-05-05       4000  5500   4500     7000

In [ ]:
team_df[team_df.sum(axis=1)>16000]

          catanddog  toto  apple  gildong
22-05-03       3000  5000   6000     3000
22-05-04       5000  7000   5500     4000
22-05-05       4000  5500   4500     7000

In [ ]:
team_df[team_df.sum(axis=1)>16000].index

Index(['22-05-03', '22-05-04', '22-05-05'], dtype='object')

In [ ]:
team_df[3000>=team_df['gildong']]

          catanddog  toto  apple  gildong
22-05-01       7000  1500   4000     2000
22-05-02       5000  3000   5000     2500
22-05-03       3000  5000   6000     3000

In [ ]:
team_df[3000>=team_df['gildong'] & team_df['toto']>=3000]

ValueError: ignored

In [ ]:
team_df['row_sum'] = team_df.sum(axis=1)

In [ ]:
team_df

          catanddog  toto  apple  gildong  row_sum
22-05-01       7000  1500   4000     2000    14500
22-05-02       5000  3000   5000     2500    15500
22-05-03       3000  5000   6000     3000    17000
22-05-04       5000  7000   5500     4000    21500
22-05-05       4000  5500   4500     7000    21000

In [ ]:
team_df.loc['col_sum'] = team_df.sum()

In [ ]:
team_df

          catanddog   toto  apple  gildong  row_sum
22-05-01       7000   1500   4000     2000    14500
22-05-02       5000   3000   5000     2500    15500
22-05-03       3000   5000   6000     3000    17000
22-05-04       5000   7000   5500     4000    21500
22-05-05       4000   5500   4500     7000    21000
col_sum       24000  22000  25000    18500    89500

In [ ]:
team_df.drop(['row_sum'], axis=1)

          catanddog   toto  apple  gildong
22-05-01       7000   1500   4000     2000
22-05-02       5000   3000   5000     2500
22-05-03       3000   5000   6000     3000
22-05-04       5000   7000   5500     4000
22-05-05       4000   5500   4500     7000
col_sum       24000  22000  25000    18500