In [5]:
import pandas as pd
from pandas import Series, DataFrame

In [6]:
score = Series( [1000, 14000, 3000, 3000, 1000])
print(score)
print("자료형 확인 : ", type(score))

0     1000
1    14000
2     3000
3     3000
4     1000
dtype: int64
자료형 확인 :  <class 'pandas.core.series.Series'>

In [7]:
## Series 인덱스 확인
print(score.index) 

# 인덱스를 리스트 자료형으로 변경 후, 확인하기
print(list(score.index))   

## Series 값 확인
print(score.values) 

## Series 값 자료형 확인
print(score.dtype)

RangeIndex(start=0, stop=5, step=1)
[0, 1, 2, 3, 4]
[ 1000 14000  3000  3000  1000]
int64

In [8]:
# 2-7 추가 실습 - index를 날짜로 변경해 보기
dates = ['2022-07-19','2022-07-20','2022-07-21','2022-07-22','2022-07-23']
score = Series( [1000, 14000, 3000, 3000, 1000], 
        index=dates)
score

2022-07-19     1000
2022-07-20    14000
2022-07-21     3000
2022-07-22     3000
2022-07-23     1000
dtype: int64

In [9]:
dict_dat = { 'one':[10,20,30,40],
             'two':[100,200,300,400],
             'three':[1000,2000,3000,4000]}

date = ['2022-05-01', '2022-05-02', '2022-05-03', '2022-05-05']
df = pd.DataFrame(dict_dat, index=date)
df

            one  two  three
2022-05-01   10  100   1000
2022-05-02   20  200   2000
2022-05-03   30  300   3000
2022-05-05   40  400   4000

In [11]:
one_idx = list( range(10,100,10) )
two_idx = list( range(100,1000,100) )
three_idx = list( range(1000,10000,1000) )

dict_dat = { 'one':one_idx,
             'two':two_idx,
             'three':three_idx}

date = pd.date_range('2022-05-01', '2022-05-09')
df = pd.DataFrame(dict_dat, index=date)
df

            one  two  three
2022-05-01   10  100   1000
2022-05-02   20  200   2000
2022-05-03   30  300   3000
2022-05-04   40  400   4000
2022-05-05   50  500   5000
2022-05-06   60  600   6000
2022-05-07   70  700   7000
2022-05-08   80  800   8000
2022-05-09   90  900   9000

In [15]:
team_score = { "toto":[1500,3000,5000,7000,5500],
               "apple":[4000,5000,6000,5500,4500],
               "gildong":[2000,2500,3000,4000,3000],
               "catanddog":[7000,5000,3000,5000,4000],
              "book": [5000,4000,3000,4000,5000]}

team_df = DataFrame(team_score)
team_df

   toto  apple  gildong  catanddog  book
0  1500   4000     2000       7000  5000
1  3000   5000     2500       5000  4000
2  5000   6000     3000       3000  3000
3  7000   5500     4000       5000  4000
4  5500   4500     3000       4000  5000

In [16]:
date = pd.date_range('2022-05-01', '2022-05-05')
team_df = pd.DataFrame(team_score, index=date)
team_df

            toto  apple  gildong  catanddog  book
2022-05-01  1500   4000     2000       7000  5000
2022-05-02  3000   5000     2500       5000  4000
2022-05-03  5000   6000     3000       3000  3000
2022-05-04  7000   5500     4000       5000  4000
2022-05-05  5500   4500     3000       4000  5000

In [17]:
team_df.sum()  # 열의 합

toto         22000
apple        25000
gildong      14500
catanddog    24000
book         21000
dtype: int64

In [20]:
tmp_sum = team_df.sum(axis=1)

In [21]:
team_df['Sum'] = tmp_sum
team_df

            toto  apple  gildong  catanddog  book    Sum
2022-05-01  1500   4000     2000       7000  5000  19500
2022-05-02  3000   5000     2500       5000  4000  19500
2022-05-03  5000   6000     3000       3000  3000  20000
2022-05-04  7000   5500     4000       5000  4000  25500
2022-05-05  5500   4500     3000       4000  5000  22000

In [24]:
tmp_mean = team_df[['toto','apple','gildong','catanddog']].mean(axis=1)
team_df['Mean'] = tmp_mean
team_df

            toto  apple  gildong  catanddog  book    Sum    Mean
2022-05-01  1500   4000     2000       7000  5000  19500  3625.0
2022-05-02  3000   5000     2500       5000  4000  19500  3875.0
2022-05-03  5000   6000     3000       3000  3000  20000  4250.0
2022-05-04  7000   5500     4000       5000  4000  25500  5375.0
2022-05-05  5500   4500     3000       4000  5000  22000  4250.0

In [26]:
tmp_cnt = team_df[['toto','apple','gildong','catanddog']].count(axis=1)
team_df['Count'] = tmp_cnt
team_df

            toto  apple  gildong  catanddog  book    Sum    Mean  Count
2022-05-01  1500   4000     2000       7000  5000  19500  3625.0      4
2022-05-02  3000   5000     2500       5000  4000  19500  3875.0      4
2022-05-03  5000   6000     3000       3000  3000  20000  4250.0      4
2022-05-04  7000   5500     4000       5000  4000  25500  5375.0      4
2022-05-05  5500   4500     3000       4000  5000  22000  4250.0      4

In [28]:
df_cut = team_df.iloc[1:]
df_cut

            toto  apple  gildong  catanddog  book    Sum    Mean  Count
2022-05-02  3000   5000     2500       5000  4000  19500  3875.0      4
2022-05-03  5000   6000     3000       3000  3000  20000  4250.0      4
2022-05-04  7000   5500     4000       5000  4000  25500  5375.0      4
2022-05-05  5500   4500     3000       4000  5000  22000  4250.0      4